WEBAUTHN_RP_ID=localhost
APP_BASE_URL=http://localhost:5173
AUTH_SECRET_KEY=your-development-secret-key
DB_CONNECTION_ENCRYPTION_KEY=your-db-connection-encryption-key
RESEND_API=re_your_api_key_here
DATABASE_URL="file:../.wrangler/state/v3/d1/miniflare-D1DatabaseObject/d4d44fa094185a8d04ffc2167e97acc9ad740825a38cca922b4abfd5d654d042.sqlite"
